# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

report.html

# Pytest cache
.pytest_cache/

# MyPy cache
.mypy_cache/

# VS Code settings
.vscode/

# JetBrains IDEs (PyCharm, IntelliJ, etc.)
.idea/

structure.txt

# SQLite database files
*.sqlite3
*.db

# Environment variables
.env

# Flask/Django instance folders
instance/
.webassets-cache

# Mac and Linux hidden files
.DS_Store
Thumbs.db

# Log files
*.log

# Coverage reports
htmlcov/
.coverage
.tox/
.nox/
StudentMarketPlace/API-Core/.env
migrations/
instance/
*.pyc
*.db

# C extensions
*.so

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# pip wheel cache
pip-wheel-metadata/

# Test reports
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# IDE inspection results
*.iml
*.ipr
*.iws
