###############################
## env example that devs can ##
## copy to .env and customize##
## with their credentials    ##
###############################


# Flask config
FLASK_APP=run.py
FLASK_ENV=development
SECRET_KEY=your-secret-key

# Database
MYSQL_URL = mysql+pymysql://root@localhost:port/db_name
SQLITE_URL = sqlite:///db_name
NEON_POSTGRES_URL = postgresql+psycopg2://url

# JWT
JWT_SECRET_KEY=your-jwt-secret-key

# Email (if needed later)
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=you@example.com
MAIL_PASSWORD=yourpassword
MAIL_USE_TLS=True
MAIL_USE_SSL=False
